@import "tailwindcss";

@theme {
  --font-heading: "Outfit", sans-serif;
  --font-body: "Inter", sans-serif;
  
  --color-slate-850: #1e293b;
  --color-emerald-550: #10b981;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-body relative overflow-x-hidden;
    background-image: 
      radial-gradient(at 0% 0%, rgba(16, 185, 129, 0.03) 0px, transparent 50%),
      radial-gradient(at 100% 0%, rgba(16, 185, 129, 0.03) 0px, transparent 50%);
  }
}

@layer utilities {
  .font-heading {
    font-family: var(--font-heading);
  }
  
  .font-body {
    font-family: var(--font-body);
  }

  .text-balance {
    text-wrap: balance;
  }
}
